<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Create your character</title>
  </head>
<body>
    <main class="container center-screen">
    <h1>Create Your Character</h1>
    <form action="create/create-character" method="POST" enctype="multipart/form-data">

  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="nom">
      Nom
      <input type="text" id="nom" name="nom" placeholder="Nom du héro">
    </label>

    <label for="description">
      Description
      <input type="text" id="description" name="description" placeholder="Description">
    </label>

    <label for="photo">
      Image
      <input type="file" id="photo" name="photo">
    </label>
{{! 
    <label for="equipe">
      Equipe
      <input type="" id="niveau" name="niveau" placeholder="Niveau">
  </div> }}

  <!-- Button -->
  <button type="submit">Submit</button>

</form>
    </main>
</body>
</html>