<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Marvel</title>
  </head>
<body>
  <header>
  <nav>
  <ul>
    <li><a href="/personnages"><h2>View Characters</h2></a></li>
    <li><a href="/create"><h2>Create Characters</h2></a></li>
    <li><a href="/equipes"><h2>View Teams</h2></a></li>

  </ul>
</nav>
</header>
  <main class="container">
    <h1>Personnages</h1>
 {{#personnages}}
        <p>Id : {{id}}</p>
        <p>Nom : {{nom}}</p>
        <p>Description : {{description}}</p>
        <img src="../{{ photo }}" alt="{{ nom }}">
        <p>Equipe : {{equipe_id}}</p>
        <form action="/delete/{{id}}" method="post">
            <input type="submit" value="Delete">
        </form>
    <a href="/update/{{id}}"><button>Update</button></a>
    {{/personnages}}
    </main>
      <button><a href="/">Go back</a></button>

</body>
</html>