<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnages</title>
</head>
<body>
    <h1>Personnages</h1>
 {{#personnages}}
        <p>{{id}}</p>
        <p>{{nom}}</p>
    {{/personnages}}
</body>
</html>