<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Marvel</title>
  </head>
<body>
    <main class="container">
    <h1>Personnage</h1>
 {{#personnage}}
        <p>Id : {{id}}</p>
        <p>Nom : {{nom}}</p>
        <p>Description : {{description}}</p>
        <img src="../{{ photo }}" alt="{{ nom }}">
  {{/personnage}}

  <div>
  <img src="../uploads/1712644931609.webp"></img>
  </div>
    </main>
</body>
</html>

